In [60]:
# Packages importation
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# Data load

df_2008 = pd.read_csv('all_alpha_08.csv')
df_2018 = pd.read_csv('all_alpha_18.csv')

### Initial Analysis

#### 2008 Dataset

In [61]:
# Count of samples and columns
print('The number of rows and columns is: {}.'.format(df_2008.shape))

# Number of duplicated rows
print('There are {} duplicated rows in the dataset.'.format(df_2008.duplicated().sum()))

# Number of rows with missing values
print('There are {} rows with missing info in this dataset'.format(df_2008.isna().any(axis = 1).sum()))

# Datatypes 
print('\nThe datatypes for the 2008 dataset are: \n {}'.format(df_2008.dtypes))

# Unique values
print('\nThe unique non-null values for the SmartWay field are: \n{}'.format(df_2008['SmartWay'].value_counts()))
print('\nThe unique non-null values for the Sales Area field are: \n{}'.format(df_2008['Sales Area'].value_counts()))
print('\nThe unique non-null values for the Transmision Area field are: \n{}'.format(df_2008['Trans'].value_counts()))

The number of rows and columns is: (2404, 18).
There are 25 duplicated rows in the dataset.
There are 199 rows with missing info in this dataset

The datatypes for the 2008 dataset are:
 Model                    object
Displ                   float64
Cyl                      object
Trans                    object
Drive                    object
Fuel                     object
Sales Area               object
Stnd                     object
Underhood ID             object
Veh Class                object
Air Pollution Score      object
FE Calc Appr             object
City MPG                 object
Hwy MPG                  object
Cmb MPG                  object
Unadj Cmb MPG           float64
Greenhouse Gas Score     object
SmartWay                 object
dtype: object

The unique non-null values for the SmartWay field are:
no     1766
yes     638
Name: SmartWay, dtype: int64

The unique non-null values for the Sales Area field are:
FA    1157
CA    1084
FC     163
Name: Sales Area, dtype: int64

The unique non-null values for the Transmision Area field are:
Auto-L4    502
Auto-L5    329
Auto-S6    327
Man-6      295
Man-5      269
Auto-S5    147
Auto-L6    118
Auto-AV     86
Auto-S4     42
Auto-L7     42
Auto-S7     22
Auto-4      10
Auto-6       8
S8           8
Name: Trans, dtype: int64

#### 2018 Dataset

In [62]:
# Count of samples and columns
print('The number of rows and columns is: {}.'.format(df_2018.shape))

# Number of duplicated rows
print('There are {} duplicated rows in the dataset.'.format(df_2018.duplicated().sum()))

# Number of rows with missing values
print('There are {} rows with missing info in this dataset'.format(df_2018.isna().any(axis = 1).sum()))

#Datatypes
print('The datatypes for the 2018 dataset are: \n {}'.format(df_2018.dtypes))

# Unique values
print('\nThe unique non-null values for the SmartWay field are: \n{}'.format(df_2018['SmartWay'].value_counts()))

print('\nThe unique non-null values for the Cert Region field are: \n{}'.format(df_2018['Cert Region'].value_counts()))

The number of rows and columns is: (1611, 18).
There are 0 duplicated rows in the dataset.
There are 2 rows with missing info in this dataset
The datatypes for the 2018 dataset are:
 Model                    object
Displ                   float64
Cyl                     float64
Trans                    object
Drive                    object
Fuel                     object
Cert Region              object
Stnd                     object
Stnd Description         object
Underhood ID             object
Veh Class                object
Air Pollution Score       int64
City MPG                 object
Hwy MPG                  object
Cmb MPG                  object
Greenhouse Gas Score      int64
SmartWay                 object
Comb CO2                 object
dtype: object

The unique non-null values for the SmartWay field are:
No       1414
Yes       175
Elite      22
Name: SmartWay, dtype: int64

The unique non-null values for the Cert Region field are:
FA    813
CA    798
Name: Cert Region, dtype: int64

#### Fuel Types (2008 Vs. 2018)

In [63]:
print(df_2008['Fuel'].value_counts())

print(df_2018['Fuel'].value_counts())

Gasoline       2318
ethanol/gas      72
diesel           11
CNG               2
ethanol           1
Name: Fuel, dtype: int64
Gasoline                1492
Ethanol/Gas               55
Diesel                    38
Gasoline/Electricity      24
Electricity                2
Name: Fuel, dtype: int64

#### Columns Cleaning

In [64]:
# 2008 drop 
df_2008.drop(['Stnd', 'Underhood ID', 'FE Calc Appr', 'Unadj Cmb MPG'], axis = 1, inplace = True)

# 2018 drop
df_2018.drop(['Stnd', 'Stnd Description', 'Underhood ID', 'Comb CO2'], axis = 1, inplace = True)

In [65]:
df_2008.head()

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales Area,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no
1,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,SUV,6,15,20,17,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,17,22,19,5,no
3,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,FA,SUV,6,17,22,19,5,no
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,CA,midsize car,7,16,24,19,5,no

In [67]:
# Renaming Columns for consistency
df_2018.rename({'Sales Area' : 'Cert Region'}, axis = 1, inplace = True)
df_2008.rename({'Sales Area' : 'Cert Region'}, axis = 1, inplace = True)

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no
1,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,SUV,6,15,20,17,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,17,22,19,5,no
3,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,FA,SUV,6,17,22,19,5,no
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,CA,midsize car,7,16,24,19,5,no

In [68]:
# Renaming columns for ease of work

for col in df_2018.columns:
    words = col.split()
    a = map(lambda x: x.lower(), words)
    words = list(a)
    new_col = '_'.join(words)
    df_2018.rename({str(col) : str(new_col)}, axis = 1, inplace = True)

for col in df_2008.columns:
    words = col.split()
    a = map(lambda x: x.lower(), words)
    words = list(a)
    new_col = '_'.join(words)
    df_2008.rename({str(col) : str(new_col)}, axis = 1, inplace = True)

### Filtering
We're going to leave just the cars that have been certified by CA standards

In [69]:
df_2018.query('cert_region == "CA"', inplace = True)

In [70]:
df_2008.query('cert_region == "CA"', inplace = True)

In [75]:
# Checking that only CA values are remaining
print(df_2008['cert_region'].unique())
print(df_2018['cert_region'].unique())

['CA']
['CA']

In [77]:
# Dropping the Certification column because it's no longer needed

df_2008.drop('cert_region', inplace = True, axis = 1)
df_2018.drop('cert_region', inplace = True, axis = 1)

In [78]:
# Dropping Columns with null values
df_2008.dropna(inplace= True)
df_2018.dropna(inplace=True)

# Dropping columns with duplicated values
df_2008.drop_duplicates(inplace=True)
df_2018.drop_duplicates(inplace=True)

In [79]:
df_2008.shape

(986, 13)

In [80]:
df_2018.shape

(794, 13)