In [10]:
# Packages importation
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# Data load

df_08 = pd.read_csv('2008_clean.csv')
df_18 = pd.read_csv('2018_clean.csv')

In [11]:
df_18.head()

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA RDX,3.5,6,SemiAuto-6,2WD,Gasoline,small SUV,3.0,20.0,28.0,23.0,5,No
1,ACURA RDX,3.5,6,SemiAuto-6,4WD,Gasoline,small SUV,3.0,19.0,27.0,22.0,4,No
2,ACURA TLX,2.4,4,AMS-8,2WD,Gasoline,small car,3.0,23.0,33.0,27.0,6,No
3,ACURA TLX,3.5,6,SemiAuto-9,2WD,Gasoline,small car,3.0,20.0,32.0,24.0,5,No
4,ACURA TLX,3.5,6,SemiAuto-9,4WD,Gasoline,small car,3.0,21.0,30.0,24.0,5,No

In [12]:
#Renaming 2008 columns for merging
df_08.rename(columns = lambda x: x[:10] + '_2008', inplace = True)

In [13]:
# Merging same models of cars


merged_df = pd.merge(df_08, df_18, how = 'inner', left_on = 'model_2008', right_on = 'model')

In [15]:
merged_df.to_csv('merged_data.csv', index = False)